@font-face {
  font-family: "NF1";
  src: url(Assets/Fonts/NetflixSans_W_Bd.woff2);
}
@font-face {
  font-family: "NF2";
  src: url(Assets/Fonts/NetflixSans_W_Blk.woff2);
}
@font-face {
  font-family: NFLIGHT;
  src: url(Assets/Fonts/NetflixSans_W_Md.woff2);
}
@font-face {
  font-family: NFLIGHTER;
  src: url(Assets/Fonts/NetflixSans_W_Rg.woff2);
}
body {
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: url(Assets/Main-Section/Main-Background-img.jpg);
  background-position: center center;
  background-size: max(1500px, 100vw);
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}
.mainopacity {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 70%;
  top: 0;
  position: absolute;
  box-shadow: inset;
}

ul {
  display: flex;

  height: 100px;
  width: 100%;
  list-style: none;
  justify-content: center;
}
.li2 {
  display: flex;
  justify-content: end;
  width: 72%;
  gap: 3%;
  align-items: center;
  z-index: 1;
}
.li1 img {
  height: 35%;
  width: 100%;
}
.li1 {
  display: flex;
  height: 100%;
  width: 15%;
  align-items: center;
  z-index: 1;
}

.but {
  height: 45%;
  width: 19%;
  border-radius: 6px;
  border: none;
}
.but1 {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10%;
  padding-left: 1%;
}
.but1:hover {
  transform: translateX(-8px) scale(1.2);
}
.but1:focus {
  border: 2px solid white;
}
.but2:hover {
  transform: scale(1.1);
}
.langlogo {
  height: 50%;
}
.but1 p {
  font-size: 24px;
  color: white;
}
.downarrow {
  height: 25%;
}
.but2 {
  background-color: red;
  color: white;
  color: white;
  width: 10%;
  font-weight: 600;
  font-size: 20px;
}
.maincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  color: white;
  position: relative;
  font-size: 23px;
}
.l1 {
  font-family: NF2;
  margin-bottom: 2%;
  width: 50%;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  margin-top: 2%;
}
.l2 {
  font-family: NFLIGHT;
  margin-bottom: 2.5%;
}
.l3 {
  font-family: NFLIGHTER;
  width: 60%;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1.5%;
}
form {
  display: flex;
  gap: 8px;
  height: 20%;
  width: 100%;
  justify-content: center;
  position: relative;
}
.email {
  display: flex;
  height: 60%;
  width: 30%;
  justify-content: start;
  padding-left: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: rgb(255, 255, 255);
  background-color: rgba(26, 26, 26, 0.822);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 6px;
}
.submit {
  height: 60%;
  width: 18%;
  display: flex;
  color: rgb(255, 255, 255);
  background-color: red;
  border: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.email::placeholder {
  display: flex;
  color: rgb(155, 155, 155);
  font-weight: 600;
  font-size: 20px;
  justify-content: start;
}
.email:focus::placeholder {
  transform: translateY(-18px);
  font-size: 14px;
  transition: transform 0.25s ease-in-out 0s;
}

.submit p {
  height: 50%;
  width: 60%;
  font-size: 23px;
  font-weight: 700;
}
.sidearrow {
  height: 40%;
  width: 10%;
  transform: rotate(-90deg);
}
.separate {
  height: 7px;
  background-color: rgb(63, 63, 63);
}
.separate2 {
  height: 5px;
  background-color: rgb(63, 63, 63);
}
.tv {
  display: flex;
  margin: 0px auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  gap: 50px;
  height: 400px;
}
.mobile {
  display: flex;
  margin: 0px auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  max-width: 89vw;
  gap: 50px;
  height: 400px;
}

.tv .tvcont {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: NFLIGHT;
  gap: 15px;
}
.mobilecont {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: NFLIGHT;
  gap: 15px;
  font-size: 18px;
}
.tvimg {
  width: 500px;
  height: 100%;
}
.tvimg img {
  height: 400px;
  z-index: 1;
}
.P1 {
  font-family: NF2;
  font-size: 48px;
  width: 100%;
}
.P2 {
  font-family: NFLIGHTER;
  font-size: 21px;
}
.tv-vid {
  position: relative;
  top: -320px;
  width: 384px;
  left: 71px;
  z-index: -1;
}
.P2-edit {
  font-family: NFLIGHTER;
  font-size: 18px;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: white;
  font-family: NF1;
  padding: 40px;
  font-size: 35px;
}
.faqgrid {
  display: grid;
  grid-template-columns: 1fr;
  width: 80vw;
  gap: 10px;
}
.grid-content {
  background-color: rgb(46, 46, 46);
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 30px;
  color: white;
  padding: 25px;
}
.grid-content:hover {
  background-color: rgb(78, 78, 78);
}
.grid-content img {
  height: 30px;
}
.grid-content p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.form2 {
  display: flex;
  height: 15vh;
  width: 100%;
  justify-content: center;
  align-items: start;
}
.submit2 {
  display: flex;
  color: white;
  background-color: red;
  height: 50%;
  border: none;
  width: 20%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.submit2 p {
  height: 40%;
  width: 80%;
  font-size: 23px;
  font-weight: 700;
}
.sidearrow2 {
  height: 35%;
  transform: rotate(-90deg);
}
.email2 {
  height: 50%;
  width: 40%;
  border: 1px solid gray;
  background-color: rgba(145, 145, 145, 0.075);
  border-radius: 8px;
}
.email2::placeholder {
  display: flex;
  color: rgb(155, 155, 155);
  font-weight: 400;
  font-size: 16px;
  padding-left: 16px;
  justify-content: start;
}
.email2:focus::placeholder {
  transform: translateY(-18px);
  font-size: 14px;
  transition: transform 0.25s ease-in-out 0s;
}
.que {
  display: flex;
  justify-content: center;
  color: white;
  height: 50px;
  align-items: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}
footer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  justify-self: center;
  /* border: 4px solid aliceblue; */
}
.foot1 {
  display: flex;
  height: 15%;

  color: rgba(255, 255, 255, 0.7);
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.foot1 span {
  text-decoration: underline;
}
.foot2 {
  display: grid;
  height: 300px;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 40px 20px 0px;
}
.foot2 a {
  color: rgba(255, 255, 255, 0.7);
}
.foot3 {
  height: 12%;
}
.but3 {
  background-color: rgb(105 105 105 / 24%);
  display: flex;
  height: 40px;
  width: 130px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid gray;
  border-radius: 5px;
}
.but3 p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.langlogo2 {
  height: 20px;
}
.downarrow2 {
  height: 9px;
  align-self: center;
}

.foot4 {
  height: 10%;
}
.foot4 p {
  color: rgba(255, 255, 255, 0.801);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.foot5 {
  height: 15%;
}
.foot5 p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
.foot5 a {
  color: rgb(68, 142, 244);
}

@media screen and (max-width: 1100px) {
  .but1 {
    width: 150px;
  }
  .but2 {
    width: 80px;
  }
  .submit2 {
    width: 155px;
    height: 70px;
  }

  .tv {
    gap: 0px;
    flex-wrap: wrap;
  }
  .tvcont {
    text-align: center;
    height: 125px;
  }
  .P1 {
    font-size: 30px;
  }
  .tvimg {
    height: 245px;
  }
  .tvimg {
    text-align: center;
  }
  .tvimg img {
    height: 286px;
    width: 422px;
    position: relative;
    top: -15px;
  }
  .tv-vid {
    top: -260px;
    width: 310px;
    left: -3px;
  }
  .tvcont2 {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: NFLIGHT;
    text-align: center;
  }
  .P2-editnew {
    font-family: NFLIGHTER;
    font-size: 22px;
  }
  .tvimg2 img {
    height: 258px;
    width: 450px;
    position: relative;
    top: -9px;
  }
  .tvimg2 video {
    top: -226px;
    width: 340px;
    left: 5px;
  }
  .foot2 {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
  .mobile {
    display: flex;
    flex-direction: column;
  }
  .cartoon img {
    top: 18px;
  }
  .mobilecont{
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .P2 {
    font-size: 20px;
  }
  .tvimg img {
    height: 286px;
    width: 422px;
    position: relative;
    top: -8px;
  }
  .tv {
    height: 475px;
  }
  .mobile {
    height: 450px;
  }
   .mobilecont{

    text-align: center;
  }
}
@media screen and (max-width:500px) {
  .main{height: 70vh; width: 110vw; }
  /* .maincontent{height: ;} */
  .l1{font-size: large; width: 100%;}
  .submit{width: 210px;}
  .form1{display: flex; flex-direction: column; align-items: center;}
  .email{width: 200px;}
  .separate{width: 110vw;}
  .separate2{width: 110vw;}
  .cartoon img{top: 12px;}
  /* .faqgrid{align-content: start;} */
  .grid-content{width: 320px;}
  .faq h2{text-align: center;}
  .tvimg2 video{top: -248px;}
  .email2{width: 230px;}
  .submit2{width: 150px; height: 65px;}
  .foot2{grid-template-columns: repeat(2,150px); gap: 0px 50px;}
}
